<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" href="css/game.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <div class="background">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-1">
                    <a href="/">
                        <img src="img/back_btn.svg">
                    </a>
                </div>
                <div class="col-sm-4 col-md-1"><img src="img/upper_logo.svg"></div>
                <div class="col-sm-4 col-md-8 headline ">ROCK PAPER SCISSORS</div>
            </div>
            <div class="row">
                <div class="text-playerone col-sm-4 col-md-4">PLAYER 1</div>
                <div class="col-sm-4 col-md-4"></div>
                <div class="text-playerone col-sm-4 col-md-4">COM</div>
            </div>
            <div class="row">
                <div class="p-batu col-sm-4 col-md-4 mt" id="p-batu-clicked">
                    <a id="btn-batu" href="#">
                        <img src="img/batu.png">
                    </a>
                </div>
                <div class="col-sm-4 col-md-4"></div>
                <div class="c-batu col-sm-4 col-md-4 mt" id="c-batu-clicked">
                    <a href="#">
                        <img src="img/batu.png">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="p-kertas col-sm-4 col-md-4 mt" id="p-kertas-clicked">
                    <a href="#">
                        <img src="img/kertas.png">
                    </a>
                </div>
                <div id="vs-id" class="vs-logo col-sm-4 col-md-4">
                    <img id="vs" src="img/VS.png">
                </div>
                <div class="c-kertas col-sm-4 col-md-4 col-6-lg mt" id="c-kertas-clicked">
                    <a href="#">
                        <img src="img/kertas.png">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="p-gunting col-sm-4 col-md-4 mt" id="p-gunting-clicked">
                    <a href="#">
                        <img src="img/gunting.png">
                    </a>
                </div>
                <div class="col-sm-4 col-md-4"></div>
                <div class="c-gunting col-sm-4 col-md-4 mt" id="c-gunting-clicked">
                    <a href="#">
                        <img src="img/gunting.png">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4"></div>
                <div class="col-sm-4 col-md-4" id="refresh-clicked">
                    <a href="#">
                        <img src="img/refresh.svg" alt="refresh">
                    </a>
                </div>
                <div class="col-sm-4 col-md-4"></div>
            </div>
        </div>
    </div>

    <script src="js/ClickedFunction.js"></script>
    <script src="js/Main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>